.label {
	-fx-padding: 5.0px;
    -fx-min-width: 100;
    -fx-max-width: 2000.0;
  	-fx-alignment: center;
}


#BorderPane{
	
	-fx-background-image: url("background.jpg");
	-fx-background-size: cover;
}

#rootCenter{
	-fx-background-color:black;
}

/*
 * Here are all the CSS commands for the class ControlArea
 */
#controlArea {
	-fx-background-color:maroon;
    -fx-spacing: 5.0px;
    -fx-padding: 5.0px;
    -fx-border-color: black;
    -fx-border-width: 0px;
    -fx-min-height: 100;
    -fx-background-color: rgba(0, 0, 0, 0);
}

#spacer{
	-fx-min-width:1;
	-fx-max-width:1000;
	-fx-pref-width:260px;
}

#spacer2{
	-fx-min-width:1;
	-fx-max-width:1000;
	-fx-pref-width:140px;
}

#spacer3{
	-fx-min-width:1;
	-fx-max-width:1000;
	-fx-pref-width:25px;
}

#selectNumberlbl{
	-fx-font-size:x-large;
	-fx-text-fill: white;
}

#lblDeck{
	-fx-text-fill: white;
	-fx-min-width: 50.0;
	-fx-font-size:20px;
	
}

#btnShuffle:hover{
	 -fx-min-width:1px;
  -fx-pref-width:70px;
  -fx-pref-height:30px;
  
 -fx-background-color: white;
  -fx-font-color: black;
  -fx-border-color: red;
}

#btnDeal:hover{
	 -fx-min-width:1px;
  -fx-pref-width:70px;
  -fx-pref-height:30px;
  
 -fx-background-color: white;
  -fx-font-color: black;
  -fx-border-color: red;
 
}

#choiceBox{
  -fx-min-width:1px;
  -fx-pref-width:40px;
  -fx-pref-height:25px;
  
}

/*
 * Here are all the CSS commands for the ResultBox 
 */
 #resultText{
 	-fx-text-fill: white;
	-fx-font-size:30px
 }
 
 #player1{
 	-fx-text-fill: white;
 }
 
 #player1LabelResult{
 		-fx-text-fill: white;
 }
 
 #player2{
 	-fx-text-fill: white;
 }
 
 #player2LabelResult{
 		-fx-text-fill: white;
 }
 
 #player3{
 	-fx-text-fill: white;
 }
 
 #player3LabelResult{
 		-fx-text-fill: white;
 }
 
 #player4{
 	-fx-text-fill: white;
 }
 
 #player4LabelResult{
 		-fx-text-fill: white;
 }

/*
 * Here are all the CSS commands for the class PlayerPane
 */

.player {
	-fx-padding: 20.0px;
    -fx-border-color: black;
    -fx-border-width: 0px;
}

#lblName{
	-fx-text-fill: white;
	-fx-font-size:30px
}


#lblEvaluation{
	-fx-text-fill: white;
	-fx-font-size:20px
}

#deckLabelImage{
    -fx-min-width: 111;
    -fx-pref-width: 111;
    -fx-max-width: 111;
    -fx-min-height: 162;
    -fx-pref-height: 162;
    -fx-max-height: 162;
}

.card {
  -fx-font-size: 18px;
	-fx-padding: 2.0px;
    -fx-border-color: black;
    -fx-border-width: 1.0px;
	-fx-background-color: lemonchiffon;
	
	
	
    -fx-min-width: 111;
    -fx-pref-width: 111;
    -fx-max-width: 111;
    -fx-min-height: 162;
    -fx-pref-height: 162;
    -fx-max-height: 162;
    
    
}